<div class="container d-flex justify-content-center align-items-center">
  <div class="card" style="width: 18rem; margin-top: 10rem;">
    <div class="card-body">
      <h5 class="card-title">
        {{user.firstName}} {{user.lastName}}
      </h5>

      <h6 class="card-subtitle mb-2 text-muted">
        {{user.email}}
      </h6>

      <p class="card-text">
        {{user.phoneNumber}}
      </p>

      <a href="/" class="card-link">
        All Users
      </a>

      <a href="/edit/{{user.id}}" class="card-link">
        Edit User
      </a>
    </div>
  </div>
</div>